body {
  background-image: URL("pexels-madison-inouye-1831234.jpg");
  z-index: -5;
}

a.navbar-brand {
  font-size: 50px;
  font-family: serif;
  font-weight: bold;
  font-family: "Homemade Apple", cursive;
  color: #7D6D61;
}
a.navbar-brand:link {
  color: #7D6D61;
}
a.navbar-brand:visited {
  color: #7D6D61;
}
a.navbar-brand:hover {
  color: #7D6D61;
}
.nav-link{
    color: #7D6D61;
}
.navbar-nav.ml-auto{
    color: #7D6D61;
}
.footer {
  background-color: #5e574d;
  border-top-style: solid;
  border-color: #d2fdff;
  border-width: 5px;
  bottom: 0;
  position: fixed;
  left: 0;
  width: 100%;
  height: 6%;
  color: #7d6d61;
  text-align: center;
  padding-top: 10px;
}
/* CSS for Index.html*/
h1 {
  border-bottom-style: solid;
  border-color: #e5e5e5;
  border-width: 1px;
  font-family: "Homemade Apple", cursive;
}
h1.h1 {
  color: #d2fdff;
  font-family: serif;
  font-weight: bold;
  font-size: 70px;
  font-family: "Homemade Apple", cursive;
}

.row.aboutMe {
  padding-top: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#aboutme {
  min-width: 350px;
  width: 80%;
  max-width: 780px;
  border: 1px solid white;
  padding: 30px;
  margin-top: 75px;
  float: center;
  margin-left: auto;
}
.img-aboutme {
  float: left;
  max-width: 200px;
  max-height: 200px;
  padding-right: 20px;
  padding-bottom: 5px;
}

/* CSS for portfolio.html*/
#portfolio {
  min-width: 350px;
  width: 80%;
  max-width: 780px;
  border: 1px solid white;
  padding: 20px;
  margin-top: 75px;
  margin-bottom: 75px;
  float: center;
  margin-left: auto;
}

.img-portfolio {
  display: flex;
  max-width: auto;
  height: auto;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  float: left;
}
h2 {
  border-bottom-style: solid;
  border-color: #e5e5e5;
  border-width: 1px;
  padding-bottom: 10px;
  font-family: "Homemade Apple", cursive;
}
h2.h2 {
  color: #d2fdff;
  font-family: serif;
  font-weight: bold;
  font-size: 70px;
  font-family: "Homemade Apple", cursive;
}

/* CSS for contact.html*/
h3 {
  border-bottom-style: solid;
  border-color: #e5e5e5;
  border-width: 1px;
  padding-bottom: 10px;
  font-family: "Homemade Apple", cursive;
}
h3.h3 {
  color: #d2fdff;
  font-family: serif;
  font-weight: bold;
  font-size: 70px;
  font-family: "Homemade Apple", cursive;
}

#Contact {
  background-color: white;
  min-width: 350px;
  width: 80%;
  max-width: 700px;
  border: 1px solid white;
  padding: 20px;
  margin-top: 75px;
  margin-bottom: 125px;
  float: center;
  margin-left: auto;
}
.row-contact {
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 120px;
  padding-top: 20px;
}
.form-control {
  display: block;
  width: 100%;
}
.btn.btn-primary.btn-lg.custom-lg {
  display: block;
  background-color: #d2fdff;
  border: solid #d2fdff;
  border-radius: 20px;
  color: #5e574d;
  font-size: 20px;
  height: 50px;
  width: 125px;
  margin-bottom: 20px;
}
